<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help - BEDICT-V2.0</title>

    <style>
        body {
            margin: 0; /* Remove default margin for the body */
        }

        img {
            width: 100%; /* Set image width to 100% of the container */
            height: auto; /* Maintain the aspect ratio */
            display: block; /* Remove extra space below the image */
            margin: 0 auto; /* Center the image horizontally */
        }
    </style>
</head>
<body>
    <img src="/static/Help_BE-DICT 2.0.png" alt="Help Image">
</body>

</html>
